body {background: var(--primary-background);
background-repeat: no-repeat;
background-size: 100em;
text-align: ;}
.l {text-align: center;}
:root{--primary-background: url(./background.jpg);
}
.dark-theme{
    --primary-background: url(./darkbackground.jpeg);
}
#icon {
    width: 50px;
    cursor: pointer;
    border: 5px solid black ;
    border-radius: 25%;
}